<form id="form-material" method="post">
    {% csrf_token %}
    <label>Material:</label>
    <input type="text" name="material" value="{{ material.material|default:'' }}">

    <label>Partida:</label>
    <select name="partida">
        {% for p in partidas %}
            <option
                value="{{ p.id }}" {% if material.partida.id == p.id %}selected{% endif %}>{{ p.codigo }}
            </option>
        {% endfor %}
    </select>
    <button type="button" id="btn-add-partida">Agregar Partida</button>

    <label>Unidad de Medida:</label>
    <select name="unidad_medida">
        {% for u in udms %}
            <option
                value="{{ u.id }}" {% if material.unidad_medida.id == u.id %}selected{% endif %}>{{ u.unidad_medida }}
            </option>
        {% endfor %}
    </select>
    <button type="button" id="btn-add-udm">Agregar Unidad de Medida</button>

    <label>Nivel mínimo:</label>
    <input type="number" name="nivel_minimo" value="{{ material.nivel_minimo|default:'' }}">

    <label>Cantidad existente:</label>
    <input type="number" name="cantidad_existente" value="{{ material.cantidad_existente|default:'' }}">

    <button type="submit">Guardar</button>
</form>
