<table>
    <thead>
        <th>Material</th>
        <th>Partida</th>
        <th>UdM</th>
        <th>Nivel Mínimo</th>
        <th>Cantidad</th>
        <th>Acciones</th>
    </thead>
    <tbody>
        {% for m in materiales %}
            <tr>
                <tr>{{ m.material }}</tr>
                <tr>{{ m.partida.codigo }}</tr>
                <tr>{{ m.unidad_medida.unidad_medida }}</tr>
                <tr>{{ m.nivel_minimo }}</tr>
                <tr>{{ m.cantidad }}</tr>
                <tr>
                    <button class="btn-edit" data-id="{{ m.id }}">Editar</button>
                    <button class="btn-delete" data-id="{{ m.id }}">Eliminar</button>
                </tr>
            </tr>
        {% endfor %}
    </tbody>
</table>