{% extends "base.html" %}
{% load static %}

{% block title %} Materiales {% endblock %}

{% block content %}
    <div class="container">
        <h2>Gestión de Material</h2>
        <button id="btn-add-material">Nuevo Material</button>
        <div id="tabla-materiales">
            <!-- Aquí se cargará la lista de materiales -->
        </div>
    </div>

    <div id="modal" class="modal-hidden"></div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/material/material.js' %}"></script>
{% endblock %}
