<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Registrar Estante</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="form_creacion" action="{% url 'crear_estante_nivel' %}" method="post">
            {% csrf_token %}
            <div class="modal-body">
                {{ form.as_p }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="cerrar_modal_creacion()">Cancelar</button>
                <button
                    id="boton_creacion"
                    type="button"
                    class="btn btn-primary"
                    onclick="registrar()"
                >
                    Confirmar
                </button>
            </div>
        </form>
    </div>
</div>